@import "tailwindcss";


/* Smooth scroll everywhere */
html {
  scroll-behavior: smooth;
}

/* Hide scrollbar but allow scrolling */
::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}

body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
